<!DOCTYPE html>
<html lang="en">

<head>
  <title>Hobby Helper</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=	1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  {{#if errorMessage}}
  <div>{{errorMessage}}</div>
  {{/if}}

  {{#if successMessage}}
  <div>{{successMessage}}</div>
  {{/if}}

  {{#if theUser}}
  <img style="width: 300px" src="{{theUser.profileImage}}" {{/if}} <nav id="top" class="navbar navbar-inverse navBar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Hobby Helper</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active home"><a href="/">Home</a></li>
    </ul>

    <form class="form-inline my-2 my-lg-0 search">
      <input id ="onsearch" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" onsearch="search()">
      <button class="btn btn-outline-success my-2 my-sm-0 submit" type="submit">Search</button>
    </form>

    {{#if currentUser}}
    <ul class="nav navbar-nav">
      <li class="active home"><a href="/profile">My Profile</a></li>
    {{/if}}
    </ul>
    {{#if currentUser.isAdmin}}
    <ul class="nav navbar-nav">
      <li class="active home"><a href="/secret">Secret</a></li>
    </ul>
    {{/if}}
    {{#if currentUser}}
    <ul class="right-nav">
      <p>Welcome, {{currentUser.username}}{{currentUser.displayName}}!</p>
      <a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a>
    </ul>
    {{else}}
    <ul class="nav navbar-nav navbar-right">
      <li class="rainbow-button"><a href="/signup"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
      <li class="rainbow-button"><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
      {{/if}}
    </ul>
  </div>

  </nav>

  {{{body}}}

  <footer id="footer">
    <a class="glyphicon glyphicon-chevron-up" href="#top"></a>
  </footer>

<script src="/javascripts/script.js"></script>
</body>

</html>