<h1>Welcome to your profile!</h1>
<br>

{{#if currentUser.slackPic}}
  <img style="width: 200px" class="round" src="{{currentUser.slackPic}}">
  {{else}}
    {{#if currentUser.googlePic}}
      <img style="width: 200px" class="round" src="{{currentUser.googlePic}}">
      {{else}}
        <img style="width: 200px" class="round" src="{{currentUser.profileImage}}">
    {{/if}}
{{/if}}

<form action="/delete-my-account" method="POST">
<br>
<button type="submit" class="btn-add">Delete My Account</button>
</form> 

